@font-face {
  font-family: 'green_fuz';
  src: url('Library/Fonts/Green-Fuz/Web-Fonts/greenfuz_regular_macroman/green_fuz-webfont.woff2') format('woff2'),
       url('Library/Fonts/Green-Fuz/Web-Fonts/greenfuz_regular_macroman/green_fuz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@keyframes pageFadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes textflicker {
  from {
    color: rgba(200, 200, 200, 0.05);
    text-shadow: 0px 0px 12px rgba(200, 200, 200, 0);
  }
  to {
    color: rgba(200, 200, 200, 0.8);
    text-shadow: 0px 0px 12px rgba(200, 200, 200, 1);
  }
}

#body {
  background-color: rgb(0, 0, 0);
  font-family: 'System';
  color: rgb(200, 200, 200);
  font-size: 11pt;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
  animation: pageFadeInAnimation ease .1s ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#content {
  background-color: rgb(32, 32, 32);
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
}

h1 {
  color: rgba(200, 200, 200, 0.8);/*
  color: rgb(180, 45, 36);*/
  font-family: green_fuz;
  font-weight: 400;
  font-size: 72pt;
}

#page_header_div {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 8px;
}

#page_header {
  text-shadow: 0px 0px 12px rgb(200, 200, 200);
  margin-bottom: 10px;
  animation-name: textflicker;
  animation-duration: 10s;
}

#page_sub_header {/*
  color: rgba(50, 0, 100, .9);*/
  color: rgb(110, 0, 220);
  font-family: green_fuz;
  font-weight: 400;
  font-size: 48pt;
  font-weight: lighter;
  transform: rotate(-3deg);/*
  text-shadow: 5px 5px 5px black;*/
  text-shadow: 5px -2px 7px rgb(0, 0, 0);
}

h2 {
  color: rgb(206, 93, 0);
  font-family: 'Bangers';
  font-weight: 400;
  font-size: 18pt;
}

h3 {
  font-size: 13pt;
  color: rgb(200, 200, 200);
  font-family: 'System';
  font-weight: 400;
}

h4 {
  font-size: 12pt;
}

a {
  color: rgb(35, 200, 80);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: rgb(35, 200, 80);
}

a:hover {
  text-decoration: underline;
}

/*
div {
  border-color: rgb(150, 150, 150);
  border-width: 1px;
  border-style: dotted;
}
*/

#calendar {
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template: repeat(12, auto) / 1fr;
  height: auto;
  width: 1120px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 5px, 10px, 15px, rgb(0, 0, 0);
}

.cal_row {
  display: grid;
  grid-template: repeat(7, auto) / repeat(7, 1fr);
}

.cal_cell {
  width: 100%;
}

.cal_cellXhdr {
  background-color: rgb(206, 93, 0);
  padding: 8px;
  display: flex;
  font-weight: lighter;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;/*
  border-bottom-color: rgb(64, 64, 64);
  border-bottom-width: 2px;
  border-bottom-style: solid;*/
}

.cal_cellXhdr_desc {
  padding: 0pt 0pt 2pt 0pt;
  margin: 0px;
  color: rgb(0, 0, 0);
  font-family: 'Bangers';
  font-weight: 400;
  font-size: 14pt;
  background:
    linear-gradient(
      to right,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0) 95%
    )
    left
    bottom
    rgb(206, 93, 0)
    no-repeat;
  background-size: 100% 2px;
}

.cal_cellXhdr_day {
  padding: 0px;
  margin: 0px;
  color: rgb(0, 0, 0);
  font-family: 'Bangers';
  font-weight: 400;
}

#cal_rowXr02 {
  background-color: rgb(42, 42, 42);
}

#cal_rowXr04 {
  background-color: rgb(42, 42, 42);
}

#cal_rowXr06 {
  background-color: rgb(42, 42, 42);
}

.cal_cellXnotHdr {
  background-color: inherit;
  padding: 0px;
  margin: 0px;
  height: 150px;
  box-sizing: border-box;
}

.cal_cell_button {/*
  background-color: rgb(32, 32, 32);*/
  background-color: inherit;
  padding: 0px;
  margin: 0pxs;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

.cal_cell_button_div {
  width: 100%;
  height: 100%;
  padding: 8px;
  margin: 0px 0px;
  box-sizing: border-box;
}

.cal_cell_button:focus {
  outline: none;
}

.cal_cell_button_div:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

.cal_cell_button:hover
  >.cal_cell_button_div
    > .cal_cell_button_div_title {
      text-decoration: underline;

    }


.cal_cell_button_div_dayMnth
, .cal_cell_button_div_title {
  margin: 0px 0px;
  padding: 0px 0px;
  width: auto;
}

.cal_cell_button_div_title {
  margin-top: 8px;
}

.cal_drop {
  grid-column: 1 / 8;
  background-color: rgb(0, 0, 0);
  display: none;
  grid-template: repeat(4, auto) / 1fr 1fr ;
  padding: 8px;
  box-sizing: border-box;
}

.cal_drop_div {
  margin: 8px;
}

.cal_drop_divXmeta_NS {
  display: none;
}
