:root {
  --a_clr:                  35, 200, 80;
  --h1_ft:                  92;
  --h2_ft:                  38; /*26*/
  --h3_ft:                  17;
  --h4_ft:                  20;
  --default_ft:             20;

  --mbl_hdr_scl:            1.7;
  --mbl_txt_scl:            1.7;

  --horrors_ft:             116;
  --day_desc_ft:            26;

  --main_bg_clr_1:          12, 12, 14; /*0*/
  --main_bg_clr_2:          44, 44, 46; /*32*/
  --main_bg_clr_3:          62, 62, 64; /*42*/
  --main_txt_clr:           220, 220, 220;
  --main_theme_clr_1:       206, 93, 0;
  --main_theme_clr_2:       155, 0, 220;
  --main_theme_clr_2_hvr:   86, 37, 112;
  --main_theme_clr_2_slct:  65, 40, 77;
  --cal_hdr_clr:            0, 0, 0;

  --container_width:        1168;
  --mar:                    8;

  --cal_cellXnotHdr_ht:     160;
  --cal_cell_butt_dia:      140;

  --px_to_vw:               calc(1/calc(1200/100));
}

@font-face {
  font-family: 'green_fuz';
  src: url('Library/Fonts/Green-Fuz/Web-Fonts/greenfuz_regular_macroman/green_fuz-webfont.woff2') format('woff2'),
       url('Library/Fonts/Green-Fuz/Web-Fonts/greenfuz_regular_macroman/green_fuz-webfont.woff') format('woff');
}

@keyframes pageFadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes textflicker {
  from {
    color: rgba(200, 200, 200, 0.05);
    text-shadow: 3px 3px 16px rgba(var(--main_txt_clr), 0), -3px -3px 16px rgba(var(--main_txt_clr), 0);
  }
  to {
    color: rgba(200, 200, 200, 0.5);
    text-shadow: 3px 3px 16px rgba(var(--main_txt_clr), 0.9), -3px -3px 16px rgba(var(--main_txt_clr), 0.9);
  }
}

h1 {
  color: rgb(var(--main_theme_clr_1));/*
  font-family: 'green_fuz';*/
  font-family: 'Jolly Lodger', cursive;
  font-size: calc(var(--h1_ft)*1px);
}

h2 {
  color: rgb(var(--main_theme_clr_1));/*
  font-family: 'Bangers';*/
  font-family: 'Jolly Lodger', cursive;
  font-weight: 400;
  font-size: calc(var(--h2_ft)*1px);
}

h3 {
  font-size: calc(var(--h3_ft)*1px);
  line-height: calc(var(--h3_ft)*1.2px);
  color: rgb(var(--main_txt_clr));
  font-family: Helvetica,arial,sans-serif;
  font-weight: normal;
}

h4 {
  font-size: calc(var(--h4_ft)*1px);
  margin: 0px;
  font-family: Helvetica,arial,sans-serif;
}

span, p, ul {
  font-size: calc(var(--default_ft)*1px);
  line-height: calc(var(--default_ft)*1.2px);
  list-style: none;
  list-style-position: inside;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  font-family: Helvetica,arial,sans-serif;
}

li:before {
  content: "• ";
  font-size: inherit;
  vertical-align: middle;
  line-height: inherit;
}

a {
  color: rgb(var(--a_clr));
  text-decoration: none;
}

a:visited {
  color: rgb(var(--a_clr));
}

a:hover {
  text-decoration: underline;
}

#body {
  background-color: rgb(var(--main_bg_clr_1));
  font-family: Helvetica,arial,sans-serif;
  color: rgb(var(--main_txt_clr));
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-delay: .15s;
  animation: pageFadeInAnimation ease .2s ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-sizing: border-box;
}

#container {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px calc(var(--mar)*2px);
  width: calc(var(--container_width)*1px);
  box-sizing: border-box;
}

#content {
  box-sizing: border-box;
}

#body_divXhdr {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: calc(var(--mar)*1px);
  margin: 0px;
  width: 100%;
  box-sizing: inherit;
}

#body_divXhdr_txtXhdr {
  color: rgba(var(--main_txt_clr), 0.5);
  font-family: green_fuz;
  font-weight: normal;
  font-size: calc(var(--horrors_ft)*1px);
  text-shadow: 3px 3px 16px rgba(var(--main_txt_clr), 0.9), -3px -3px 16px rgba(var(--main_txt_clr), 0.9);
  animation-name: textflicker;
  animation-duration: 4s;
  margin: 0px;
  box-sizing: inherit;
}

#content {
  background-color: rgb(var(--main_bg_clr_2));
  padding: calc(var(--mar)*2px);
  margin: 0px;
  border-radius: calc(var(--mar)*2px);
  width: 100%;
  box-sizing: inherit;
}

#content_divXmy {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  height: auto;
  font-family: green_fuz;
}

#content_my_txt {
  padding: 0px;
  margin: 0px;
  height: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)
}

#content_my_txt_year {
  color: rgb(var(--main_theme_clr_2));
  font-size: inherit;
  font-family: inherit;
}

#calendar {
  background-color: inherit;
  display: grid;
  grid-template: repeat(12, auto) / 1fr;
  height: auto;
  width: 100%;
  box-sizing: inherit;
  border-radius: calc(var(--mar)*1px);
  overflow: hidden;
}

.cal_row {
  display: grid;
  grid-template: repeat(7, auto) / repeat(7, minmax(0, 1fr));
  box-sizing: inherit;
  padding: 0px calc(var(--mar)*0.5px);
  width: 100%;
}

.cal_cell {
  box-sizing: inherit;
  padding: calc(var(--mar)*1px) calc(var(--mar)*0.5px);
  box-sizing: inherit;
}

.cal_cellXhdr {
  background-color: inherit;
  padding: calc(var(--mar)*1px) calc(var(--mar)*0.5px) calc(var(--mar)*1px) calc(var(--mar)*1.5px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;/*
  border-bottom-color: rgb(64, 64, 64);
  border-bottom-width: 2px;
  border-bottom-style: solid;*/
}

.cal_cellXhdr_desc {
  padding: 0px 0px 6px 0px;
  margin: 0px;
  width: 100%;
  color: rgb(var(--cal_hdr_clr));/*
  font-family: 'Bangers';*/
  font-family: 'Jolly Lodger', cursive;
  font-weight: 400;
  font-size: calc(var(--day_desc_ft)*1px);
  background:
    linear-gradient(
      to right,
      rgba(var(--cal_hdr_clr),1) 0%,
      rgba(var(--cal_hdr_clr),0) 95%
    )
    left
    bottom
    rgb(var(--main_theme_clr_1))
    no-repeat;
  background-size: 100% 2px;
}

.cal_cellXhdr_day {
  padding: 0px;
  margin: 0px;
  width: 100%;
  color: rgb(var(--cal_hdr_clr));/*
  font-family: 'Bangers';*/
  font-family: 'Jolly Lodger', cursive;
  font-weight: 400;
}

.cal_cellXhdr_dayXNS {
  padding: 0px;
  margin: 0px;
  width: 100%;
  color: rgb(var(--cal_hdr_clr));/*
  font-family: 'Bangers';*/
  font-family: 'Jolly Lodger', cursive;
  font-weight: 400;
  text-align: center;
  display: none;
}

#cal_rowXr01 {
  background-color: rgb(var(--main_theme_clr_1));
}

#cal_rowXr02 {
  background-color: rgb(var(--main_bg_clr_3));
}
#cal_rowXr03 {
  background-color: inherit;
}

#cal_rowXr04 {
  background-color: rgb(var(--main_bg_clr_3));
}

#cal_rowXr05 {
  background-color: inherit;
}

#cal_rowXr06 {
  background-color: rgb(var(--main_bg_clr_3));
}

#cal_rowXr07 {
  background-color: inherit;
}

.cal_cellXnotHdr {
  background-color: inherit;
  margin: 0px;
  height: calc(var(--cal_cellXnotHdr_ht)*1px);
}

.cal_cellXnotHdr:hover {
  padding: 7px 5px 9px 3px;
}

.cal_cell_button {
  background-color: inherit;
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: calc(var(--mar)*1px);
}

.cal_cell_button:focus {
  outline: none;
}

.cal_cell_button:hover {
  box-shadow: 1px 1px 5px rgba(5, 5, 5, 0.3);
}

.cal_cell_button_div {
  width: inherit;
  height: auto;
  padding: calc(var(--mar)*1px);
  margin: 0px 0px;
  box-sizing: border-box;
}

.cal_cell_button_div:hover {
  cursor: pointer;
  background-color: rgb(var(--main_theme_clr_2_hvr));
}

.cal_cell_button_div_dayMnth
, .cal_cell_button_div_title {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

.cal_cell_button_div_dayMnth {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)
}
/*
.cal_cell_button_div_title {
  margin-top: calc(var(--mar)*1px);
}
*/
.cal_drop {
  background-color:inherit;
  font-size: calc(var(--default_ft)*1px);
  grid-column: 1 / 8;
  margin: 0px;
  display: none;
  padding: 0px calc(var(--mar)*0.5px) calc(var(--mar)*1px) calc(var(--mar)*0.5px);
  width: 100%;
  box-sizing: border-box;
}

.cal_drop_wrap {
  background-color: rgb(var(--main_bg_clr_1));
  display: grid;
  grid-template: repeat(6, auto) / repeat(48, minmax(0, 1fr));
  padding: calc(var(--mar)*1px);
  width: 100%;
  box-sizing: border-box;
  border-radius: calc(var(--mar)*1px);
}

.cal_drop_div {
  padding: calc(var(--mar)*1px);
  border-radius: calc(var(--mar)*1px);
  overflow: hidden;
/*
  border-style: dotted;
  border-width: 1px;
  border-color: rgb(100, 100, 100);
*/
}

.cal_drop_divXmeta {
  grid-row: 1 / 2;
  grid-column: 1 / 49;
}

.cal_drop_divXpostr {
  grid-row: 2 / 7;
  grid-column: 1 / 15;
}

.cal_drop_divXpostr_img {
  width: 100%;
}

.cal_drop_divXsynop {
  grid-row: 2 / 5;
  grid-column: 16 / 49 ;
}

.cal_drop_divXwatch {
  grid-row: 5 / 7;
  grid-column: 16 / 32;/*
  display: flex;
  flex-direction: column;
  justify-content: flex-end;*/
}

.cal_drop_divXabout {
  grid-row: 5 / 7;
  grid-column: 33 / 49;/*
  display: flex;
  flex-direction: column;
  justify-content: flex-end;*/
}

.cal_drop_divXmeta_NS {
  display: none;
}

.cal_drop_divXmeta_title {
  font-size: calc(var(--h2_ft)*1px);
  font-weight: bold;
}

.cal_drop_watch_ls_item:hover {
  cursor: pointer;
}
.cal_drop_about_ls_item:hover {
  cursor: pointer;
}

.hidden_element {
  display: none;
}

/*********************************************************
****************** Narrow Page Width *********************
*********************************************************/

@media screen and (max-width: 1200px) {

  @keyframes textflicker {
    from {
      color: rgba(var(--main_txt_clr), 0.05);
      text-shadow: calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0), calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0);
    }
    to {
      color: rgba(var(--main_txt_clr), 0.5);
      text-shadow: calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9), calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9);
    }
  }

  h1 {
    font-size: calc(calc(var(--h1_ft)*1vw)*var(--px_to_vw));
  }

  h2 {
    font-size: calc(calc(var(--h2_ft)*1vw)*var(--px_to_vw));
  }

  h3 {
    font-size: calc(calc(var(--h3_ft)*1vw)*var(--px_to_vw));
    line-height: calc(calc(calc(var(--h3_ft)*1.2)*1vw)*var(--px_to_vw));
  }

  h4 {
    font-size: calc(calc(var(--h4_ft)*1vw)*var(--px_to_vw));
  }

  span, p, ul {
    font-size: calc(calc(var(--default_ft)*1vw)*var(--px_to_vw));
    line-height: calc(calc(calc(var(--default_ft)*1.2)*1vw)*var(--px_to_vw))
  }

  li:before {
    -webkit-text-size-adjust: none;
  }

  #container {
    width: auto;
    margin: 0vw calc(calc(var(--mar)*2vw)*var(--px_to_vw));
  }

  #content {
    padding: calc(calc(var(--mar)*2vw)*var(--px_to_vw));
    border-radius: calc(calc(var(--mar)*2vw)*var(--px_to_vw));
  }

  #body_divXhdr {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  #body_divXhdr_txtXhdr {
    font-size: calc(calc(var(--horrors_ft)*1vw)*var(--px_to_vw));
    text-shadow: calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9), calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9);
  }

  #content_divXmy {
    margin-bottom: calc(calc(10*1vw)*var(--px_to_vw));
  }

  #content_my_txt {
    text-shadow: calc(calc(1*1vw)*var(--px_to_vw)) calc(calc(1*1vw)*var(--px_to_vw)) calc(calc(2*1vw)*var(--px_to_vw)) rgba(0, 0, 0, 1)
  }

  #calendar {
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_row {
    padding: 0vw calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_cell {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_cellXhdr {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw)) calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*1.5vw)*var(--px_to_vw));
  }

  .cal_cellXhdr_desc {
    padding: 0vw 0vw calc(calc(6*1vw)*var(--px_to_vw)) 0vw;
    background-size: 100% calc(calc(2*1vw)*var(--px_to_vw));
    font-size: calc(calc(var(--day_desc_ft)*1vw)*var(--px_to_vw));
  }

  .cal_cellXnotHdr {
    height: calc(calc(var(--cal_cellXnotHdr_ht)*1vw)*var(--px_to_vw));
  }

  .cal_cellXnotHdr:hover {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_cell_button {
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_cell_button:hover {
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
  }

  .cal_cell_button_div {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_cell_button_div:hover {
    background-color: rgb(var(--main_theme_clr_2_slct));
  }

  .cal_cell_button_div_dayMnth {
    text-shadow: calc(calc(1*1vw)*var(--px_to_vw)) calc(calc(1*1vw)*var(--px_to_vw)) calc(calc(2*1vw)*var(--px_to_vw)) rgba(0, 0, 0, 0.7)
  }
  /*
  .cal_cell_button_div_title {
    margin-top: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }
  */
  .cal_drop {
    padding: 0vw calc(calc(var(--mar)*0.5vw)*var(--px_to_vw)) calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_drop_wrap {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_drop_div {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_drop_divXmeta_title {
    font-size: calc(calc(var(--h2_ft)*1vw)*var(--px_to_vw));
  }
}

/*********************************************************
****************** Mobile Page Width *********************
*********************************************************/

@media screen and (max-width: 420px) {

  @keyframes textflicker {
    from {
      color: rgba(var(--main_txt_clr), 0.05);
      text-shadow: calc(calc(calc(3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(16*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0), calc(calc(calc(-3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(-3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(16*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0);
    }
    to {
      color: rgba(var(--main_txt_clr), 0.5);
      text-shadow: calc(calc(calc(3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(16*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9), calc(calc(calc(-3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(-3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(16*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9);
    }
  }

  h1 {
    font-size: calc(calc(calc(var(--h1_ft)*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw));
  }

  h2 {
    font-size: calc(calc(calc(var(--h2_ft)*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw));
  }

  h4 {
    font-size: calc(calc(calc(var(--h4_ft)*var(--mbl_txt_scl))*1vw)*var(--px_to_vw));
  }

  span, p, ul {
    font-size: calc(calc(calc(var(--default_ft)*var(--mbl_txt_scl))*1vw)*var(--px_to_vw));
    line-height: calc(calc(calc(calc(var(--default_ft)*var(--mbl_txt_scl))*1.2)*1vw)*var(--px_to_vw))
  }

  #body {
    padding: calc(calc(var(--mar)*2vw)*var(--px_to_vw));
  }

  #container {
    width: 100%;
  }

  #body_divXhdr {
    width: 100%;
  }

  #body_divXhdr_txtXhdr {
    font-size: calc(calc(calc(var(--horrors_ft)*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw));
    text-shadow: calc(calc(calc(3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(16*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9), calc(calc(calc(-3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(-3*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) calc(calc(calc(16*var(--mbl_hdr_scl))*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9);
    text-align: center;
    width: 100%;
  }

  .cal_cellXhdr_desc {
    display: none;
  }

  .cal_cellXhdr_day {
  display: none;
  }

  .cal_cellXhdr_dayXNS {
    display: block;
  }

  .cal_cell_button {
    height: calc(calc(var(--cal_cell_butt_dia)*1vw)*var(--px_to_vw));
    width: calc(calc(var(--cal_cell_butt_dia)*1vw)*var(--px_to_vw));
    border-radius: 50%
  }

  .cal_cell_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cal_cell_button_div:hover {
    background-color: rgba(var(--main_bg_clr_1), 1);
  }

  .cal_cell_button_div_dayMnth {
    text-align: center;
  }

  .cal_cell_button_div_title {
    display: none;
  }

  .cal_drop_wrap {
    padding: calc(calc(var(--mar)*2vw)*var(--px_to_vw));
  }

  .cal_drop_divXmeta {
    display: block;
  }

  .cal_drop_divXmeta_NS {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .cal_drop_divXmeta_NS_dayDesc {
    margin: 0px;
  }

  .cal_drop_divXmeta_NS_dayWeek {
    margin: 0px;
  }

}
