:root {
  --a_clr:                  35, 200, 80;
  --h1_ft:                  86;
  --h2_ft:                  26;
  --h3_ft:                  18;
  --h4_ft:                  16;
  --default_ft:             15;

  --horrors_ft:             116;
  --year_ft:                64;

  --main_bg_clr_1:          0, 0, 0;
  --main_bg_clr_2:          32, 32, 32;
  --main_bg_clr_3:          42, 42, 42;
  --main_txt_clr:           220, 220, 220;
  --main_theme_clr_1:       206, 93, 0;
  --main_theme_clr_2:       155, 0, 220;
  --main_theme_clr_2_hvr:   86, 37, 112;
  --main_theme_clr_2_slct:  65, 40, 77;
  --cal_hdr_clr:            0, 0, 0;

  --container_width:        1168;
  --mar:                    8;

  --cal_cellXnotHdr_ht:     156;

  --px_to_vw:               calc(1/calc(1200/100));
}

@font-face {
  font-family: 'green_fuz';
  src: url('Library/Fonts/Green-Fuz/Web-Fonts/greenfuz_regular_macroman/green_fuz-webfont.woff2') format('woff2'),
       url('Library/Fonts/Green-Fuz/Web-Fonts/greenfuz_regular_macroman/green_fuz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@keyframes pageFadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes textflicker {
  from {
    color: rgba(200, 200, 200, 0.05);
    text-shadow: 3px 3px 16px rgba(var(--main_txt_clr), 0), -3px -3px 16px rgba(var(--main_txt_clr), 0);
  }
  to {
    color: rgba(200, 200, 200, 0.5);
    text-shadow: 3px 3px 16px rgba(var(--main_txt_clr), 0.9), -3px -3px 16px rgba(var(--main_txt_clr), 0.9);
  }
}

h1 {
  color: rgb(var(--main_theme_clr_1));
  font-family: 'green_fuz';
  font-weight: 400;
  font-size: calc(var(--h1_ft)*1px);
}

h2 {
  color: rgb(var(--main_theme_clr_1));
  font-family: 'Bangers';
  font-weight: 400;
  font-size: calc(var(--h2_ft)*1px);
}

h3 {
  font-size: calc(var(--h3_ft)*1px);
  color: rgb(var(--main_txt_clr));
  font-family: 'System';
  font-weight: bold;
}

h4 {
  font-size: calc(var(--h4_ft)*1px);
  margin: 0px;
}

span, p, ul {
  font-size: calc(var(--default_ft)*1px);
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: bold;
  padding-inline-start: 0px;
}

ul {
  list-style-position: inside;
}

li:before {
  font-size: inherit;
}

a {
  color: rgb(var(--a_clr));
  text-decoration: none;
}

a:visited {
  color: rgb(var(--a_clr));
}

a:hover {
  text-decoration: underline;
}

#body {
  background-color: rgb(var(--main_bg_clr_1));
  font-family: 'System';
  color: rgb(var(--main_txt_clr));
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-delay: .15s;
  animation: pageFadeInAnimation ease .2s ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-sizing: border-box;
}

#container {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px calc(var(--mar)*2px);
  width: calc(var(--container_width)*1px);
  box-sizing: border-box;
}

#body_divXhdr {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: calc(var(--mar)*1px);
  margin: 0px;
  width: 100%;
  box-sizing: inherit;
}

#body_divXhdr_txtXhdr {
  color: rgba(var(--main_txt_clr), 0.5);
  font-family: green_fuz;
  font-weight: 400;
  font-size: 116px;
  text-shadow: 3px 3px 16px rgba(var(--main_txt_clr), 0.9), -3px -3px 16px rgba(var(--main_txt_clr), 0.9);
  animation-name: textflicker;
  animation-duration: 4s;
  margin: 0px;
  box-sizing: inherit;
}

#content {
  background-color: rgb(var(--main_bg_clr_2));
  padding: calc(var(--mar)*2px);
  margin: 0px;
  border-radius: calc(var(--mar)*2px);
  width: 100%;
  box-sizing: inherit;
}

#content_divXmy {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  height: auto;
  font-family: green_fuz;
}

#content_my_txt {
  padding: 0px;
  margin: 0px;
  height: auto;
}

#content_my_txt_year {
  color: rgb(var(--main_theme_clr_2));
  font-size: 64px;
}

#calendar {
  background-color: inherit;
  display: grid;
  grid-template: repeat(12, auto) / 1fr;
  height: auto;
  width: 100%;
  box-sizing: inherit;
  border-radius: calc(var(--mar)*1px);
  overflow: hidden;
}

.cal_row {
  display: grid;
  grid-template: repeat(7, auto) / repeat(7, minmax(0, 1fr));
  box-sizing: inherit;
  padding: 0px calc(var(--mar)*0.5px);
  width: 100%;
}

.cal_cell {
  box-sizing: inherit;
  padding: calc(var(--mar)*1px) calc(var(--mar)*0.5px);
  box-sizing: inherit;
}

.cal_cellXhdr {
  background-color: inherit;
  padding: calc(var(--mar)*1px) calc(var(--mar)*0.5px) calc(var(--mar)*1px) calc(var(--mar)*1.5px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;/*
  border-bottom-color: rgb(64, 64, 64);
  border-bottom-width: 2px;
  border-bottom-style: solid;*/
}

.cal_cellXhdr_desc {
  padding: 0px 0px 2px 0px;
  margin: 0px;
  width: 100%;
  color: rgb(var(--cal_hdr_clr));
  font-family: 'Bangers';
  font-weight: 400;
  background:
    linear-gradient(
      to right,
      rgba(var(--cal_hdr_clr),1) 0%,
      rgba(var(--cal_hdr_clr),0) 95%
    )
    left
    bottom
    rgb(var(--main_theme_clr_1))
    no-repeat;
  background-size: 100% 2px;
}

.cal_cellXhdr_day {
  padding: 0px;
  margin: 0px;
  width: 100%;
  color: rgb(var(--cal_hdr_clr));
  font-family: 'Bangers';
  font-weight: 400;
}

#cal_rowXr01 {
  background-color: rgb(var(--main_theme_clr_1));
}

#cal_rowXr02 {
  background-color: rgb(var(--main_bg_clr_3));
}
#cal_rowXr03 {
  background-color: inherit;
}

#cal_rowXr04 {
  background-color: rgb(var(--main_bg_clr_3));
}

#cal_rowXr05 {
  background-color: inherit;
}

#cal_rowXr06 {
  background-color: rgb(var(--main_bg_clr_3));
}

#cal_rowXr07 {
  background-color: inherit;
}

.cal_cellXnotHdr {
  background-color: inherit;
  margin: 0px;
  height: calc(var(--cal_cellXnotHdr_ht)*1px);
}

.cal_cellXnotHdr:hover {
  padding: 7px 5px 9px 3px;
}

.cal_cell_button {
  background-color: inherit;
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: calc(var(--mar)*1px);
}

.cal_cell_button:focus {
  outline: none;
}

.cal_cell_button:hover {
  box-shadow: 1px 1px 5px rgba(5, 5, 5, 0.3);
}

.cal_cell_button_div {
  width: inherit;
  height: auto;
  padding: calc(var(--mar)*1px);
  margin: 0px 0px;
  box-sizing: border-box;
}

.cal_cell_button_div:hover {
  cursor: pointer;
  background-color: rgb(var(--main_theme_clr_2_hvr));
}

.cal_cell_button_div_dayMnth
, .cal_cell_button_div_title {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

.cal_cell_button_div_title {
  margin-top: calc(var(--mar)*1px);
}

.cal_drop {
  background-color:inherit;
  font-size: calc(var(--default_ft)*1px);
  grid-column: 1 / 8;
  margin: 0px;
  display: none;
  padding: 0px calc(var(--mar)*0.5px) calc(var(--mar)*1px) calc(var(--mar)*0.5px);
  width: 100%;
  box-sizing: border-box;
}

.cal_drop_wrap {
  background-color: rgb(var(--main_bg_clr_1));
  display: grid;
  grid-template: repeat(3, auto) / repeat(20, minmax(0, 1fr));
  padding: calc(var(--mar)*1px);
  width: 100%;
  box-sizing: border-box;
  border-radius: calc(var(--mar)*1px);
}

.cal_drop_div {
  padding: calc(var(--mar)*1px);
  border-radius: calc(var(--mar)*1px);
  overflow: hidden;
/*
  border-style: dotted;
  border-width: 1px;
  border-color: rgb(100, 100, 100);
*/
}

.cal_drop_divXmeta {
  grid-column: 1 / 21;
}

.cal_drop_divXpostr {
  grid-column: 1 / 4;
}

.cal_drop_divXpostr_img {
  width: 100%;
}

.cal_drop_divXsynop {
  grid-column: 4 / 10;
}

.cal_drop_divXwatch {
  grid-column: 11 / 16;
}

.cal_drop_divXabout {
  grid-column: 16 / 21;
}

.cal_drop_divXmeta_NS {
  display: none;
}

.hidden_element {
  display: none;
}

/*********************************************************
****************** Narrow Page Width *********************
*********************************************************/

@media screen and (max-width: 1200px) {

  @keyframes textflicker {
    from {
      color: rgba(var(--main_txt_clr), 0.05);
      text-shadow: calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0), calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0);
    }
    to {
      color: rgba(var(--main_txt_clr), 0.5);
      text-shadow: calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9), calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9);
    }
  }

  h1 {
    font-size: calc(calc(var(--h1_ft)*1vw)*var(--px_to_vw));
  }

  h2 {
    font-size: calc(calc(var(--h2_ft)*1vw)*var(--px_to_vw));
  }

  h3 {
    font-size: calc(calc(var(--h3_ft)*1vw)*var(--px_to_vw));
  }

  h4 {
    font-size: calc(calc(var(--h4_ft)*1vw)*var(--px_to_vw));
  }

  span, p, ul {
    font-size: calc(calc(var(--default_ft)*1vw)*var(--px_to_vw));
  }

  ul {
    list-style-position: inside;
  }

  #container {
    width: auto;
    margin: 0vw calc(calc(var(--mar)*2vw)*var(--px_to_vw));
  }

  #content {
    padding: calc(calc(var(--mar)*2vw)*var(--px_to_vw));
    border-radius: calc(calc(var(--mar)*2vw)*var(--px_to_vw));
  }

  #body_divXhdr {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  #body_divXhdr_txtXhdr {
    font-size: calc(calc(var(--horrors_ft)*1vw)*var(--px_to_vw));
    text-shadow: calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9), calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(-3*1vw)*var(--px_to_vw)) calc(calc(16*1vw)*var(--px_to_vw)) rgba(var(--main_txt_clr), 0.9);
  }

  #content_divXmy {
    margin-bottom: calc(calc(10*1vw)*var(--px_to_vw));
  }

  #content_my_txt_year {
    font-size: calc(calc(var(--year_ft)*1vw)*var(--px_to_vw));
  }

  #calendar {
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_row {
    padding: 0vw calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_cell {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_cellXhdr {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw)) calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*1.5vw)*var(--px_to_vw));
  }

  .cal_cellXhdr_desc {
    padding: 0vw 0vw calc(calc(2*1vw)*var(--px_to_vw)) 0vw;
    background-size: 100% calc(calc(2*1vw)*var(--px_to_vw));
  }

  .cal_cellXnotHdr {
    height: calc(calc(var(--cal_cellXnotHdr_ht)*1vw)*var(--px_to_vw));
  }

  .cal_cellXnotHdr:hover {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_cell_button {
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_cell_button:hover {
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
  }

  .cal_cell_button_div {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_cell_button_div:hover {
    background-color: rgb(var(--main_theme_clr_2_slct));
  }

  .cal_cell_button_div_title {
    margin-top: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_drop {
    padding: 0vw calc(calc(var(--mar)*0.5vw)*var(--px_to_vw)) calc(calc(var(--mar)*1vw)*var(--px_to_vw)) calc(calc(var(--mar)*0.5vw)*var(--px_to_vw));
  }

  .cal_drop_wrap {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }

  .cal_drop_div {
    padding: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
    border-radius: calc(calc(var(--mar)*1vw)*var(--px_to_vw));
  }
}
